
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="about-section">
  <h1>Contact our Support and Sales team</h1>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/R.6e19540757907e6cac985b506fbd4908?rik=yHYJVArVNM1vJw&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fiynque%2fios7-style%2f1024%2fPhone-icon.png&ehk=aimLQaJM3YVQhO4b3FeFvOOPXbsoQEFzySVvhopbfZE%3d&risl=&pid=ImgRaw&r=0" alt="Jane" style="width:20%">
      <div class="container">
        <h2>Call Us</h2>
         <p>8756442985(Mon to Sat 9:30 AM to 6 PM)</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://cdn4.iconfinder.com/data/icons/green-shopper/1049/email.png" alt="Mike" style="width:20%">
      <div class="container">
        <h2>Mailing Address</h2>
        <p>carshop@gmail.com</p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
    <img src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/14_1-512.png" alt="Mike" style="width:20%">
      <div class="container">
        <h2>Visit us here</h2>
        <p> India </p>
      </div>
    </div>
  </div>
  