
    <div class="feature-content" align="center">
        
        <div class="row-1">
         <div class="column">
            <div class="img-wrap"> 
                <img src="https://imgd.aeplcdn.com/664x374/cw/cars/discontinued/ford/figo.jpg?q=75"> 
              </div>
         </div>
         </div>
         <div class="grid">
           
                <strong class="title mb-2">Ford Figo Duratec Petrol ZXI 1.2</strong>
                
                <div class="row-3">
                <div style="float:left;">
                    <h3>Specifications</h3>
                <p class="title mb-3">Milege 11Kmpl </p>
                <p class="title mb-3">Engine 1196CC</p>
                <p class="title mb-3">Fuel type: Petrol</p>
                <p class="title mb-3">Transmission: Manual</p>
                <p class="title mb-3">Seating Capacity: 5 Seater </p>
                <p class="title mb-3">Torque: 102Nm 400rpm </p>
                <p class="title mb-3">Power: 71PS 6250rpm</p>
                
                </div>
               
                    <div style="float:right;">
                <h3>Safety and Security</h3>
        <p class="title mb-3">Airbags</p>
        <p class="title mb-3">Child Safety Lock</p>
        <p class="title mb-3">Engine Immobilizer</p>
        <p class="title mb-3">Central Locking-Remote</p>
        <p class="title mb-3">Power door lock </p>
        <p class="title mb-3">HeadLamp beam adjuster</p>
                </div>
                </div>
<!--div> <a href="#" class="btn btn-primary">Payment</a></div-->

<div><a href="payment"><button type="button" class="btn btn-primary">Payment</button></a></div>
           
    
    
  
   

