<h3 class="f0"><img src="https://1.bp.blogspot.com/-94MGa_BJS2k/VKZ1pJbY8DI/AAAAAAAAAq0/qcdWy3UpRng/s1600/bajaj-finserv-logo.jpg"></h3>
<p class="f1">    Existing second-hand car loan customers can avail of a top-up loan against used cars for up to 175% of the existing loan value. 
  The additional funds can be used for a variety of purposes. The loan amount, however, depends upon several factors.</p>

<h4 class="f2">WHY CHOOSE US?</h4>
<ul>
  <li> Bajaj Finserv is a best-in-class provider of financing solutions for your NEW used car</li>
  <li> We finance cars of any make, model or variant</li>
  <li> Our loan products are available for Salaried, Self-employed individuals and business owners</li>
</ul>
<br>
<h4 class="f3">THE BAJAJ FINSERV ADVANTAGE!</h4>
<ul>
  <li> Quick and hassle-free approvals</li>
  <li> Easy Documentation</li>
  <li> Flexible Terms</li>
  <li> Prompt Customer Service</li>
  <li> Flexible Repayment Options</li>
  <li> Low & Attractive Rate of Interest</li>
</ul>
<br>

<form name="input" action="" method="get" onsubmit="return display(this);">
<h3>KNOW YOUR EMI</h3>
<hr/>
<div class="formcontainer">
<div class="container">
  <label for="loanamount"><strong>Loan Amount</strong></label>
  <br>
  <input type="number" name="loanamount" required>
  <br>
  <br>
  <label for="tenure"><strong>Tenure (in Months)</strong></label>
  <br>
  <input type="number" name="tenure" required>
  <br>
  <p><i>*Interest Rate is 8%</i></p>
  <br>
  <p>After submitting, financer will contact you. Thank you!</p>
  <output name="o_emi"></output>
  <button type="submit">SUBMIT</button>
</div>
</div>
</form>

