<div class="bg">
<div class="banner">
    <div class="container">
    
    <marquee direction="left" height="100" width="1000" align="center"> <h1>WELCOME TO CAR SALES</h1></marquee>
    <h3>Buy and Sell Your Car At The Best Price</h3>
</div>
</div>
<div id="feature section mt-3">
  
    <div class="feature-content" align="center">
       <h1 align="center" style="font-size: xx-large;">Suggested for you</h1>
       <div class="row-1">
        <div class="column">
          <img src="../../../assets/images/car7.jpg" height="200px" width="300px">
        </div>
        </div>
        <div class="row-2">
          <div class="column">
          <img src="../../../assets/images/car8.jpeg" height="200px" width="300px">  
          </div>
    </div>
    <img src="../../../assets/images/car6.jpg" height="200px" width="300px">
  </div>
  </div>
 <br>
    <div class="feature-content" align="center">
      <h1 align="center" style="font-size: xx-large;">Financing Partners</h1>
        <div class="row-1" align="center">
          <div class="column">
           <img src="../../../assets/images/finance1.png" height="90px" width="150px" class="image">
          </div>
         </div>
         <br>
         
     </div>
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div class="feature-content" align="center">
       <h1 align="center" style="font-size: xx-large;">Insurance Partners</h1>
         <div class="row-1">
          <div class="column">
            <img src="../../../assets/images/insurance.png" height="100px" width="200px">
          </div>
          </div>
          <div class="row-2">
            <div class="column">
            <img src="../../../assets/images/insurance1.jpg" height="100px" width="200px">  
            </div> 
      </div>
      <div class="row-3">
        <div class="column">
          <img src="../../../assets/images/insurance2.jpg" height="100px" width="200px">
      </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <div class="feature-content" align="center">

        <h1 align="center" style="font-size: xx-large;">Popular Brands</h1>

          <div class="row-1">
            <div class="column">
             <img src="../../../assets/images/logo1.jpg" height="100px" width="200px">
            </div>
           </div>
           <div class="row-2">
            <div class="column">
             <img src="../../../assets/images/logo2.jpg" height="100px" width="200px">  
            </div>
       </div>
       <div class="row-3">
        <div class="column">
           <img src="../../../assets/images/logo3.jpg" height="100px" width="200px">
       </div>
       </div>
       <div class="row-1">
        <div class="column">
        <img src="../../../assets/images/logo4.jpg" height="100px" width="200px">
        </div>
      </div>
      <div class="row-2">
        <div class="column">
        <img src="../../../assets/images/logo12.jpg" height="100px" width="200px">  
        </div>
  </div>
  <div class="row-3">
    <div class="column">
      <img src="../../../assets/images/logo6.jpg" height="100px" width="200px">
  </div>
  </div>
  <div class="row-1">
    <div class="column">
    <img src="../../../assets/images/logo13.jpg" height="100px" width="200px">
    </div>
  </div>
  <div class="row-2">
    <div class="column">
    <img src="../../../assets/images/logo14.jpg" height="100px" width="200px">  
    </div>
</div>
<div class="row-3">
  <div class="column">
  <img src="../../../assets/images/logo9.jpg" height="100px" width="200px">
  
</div>
</div>
      </div>
    
    
   