

    <div class="feature-content" align="center">
        
        <div class="row-1">
         <div class="column">
            <div class="img-wrap"> 
                <img src="https://th.bing.com/th/id/OIP.WAGxcwPZ8W-ljczAOn-33QHaE7?pid=ImgDet&rs=1"> 
              </div>
         </div>
         </div>
         <div class="grid">
           
                <strong class="title mb-2">Hyundai i20</strong>
                
                <div class="row-3">
                <div style="float:left;">
                    <h3>Specifications</h3>
                <p class="title mb-3">Milege 19.6Kmpl </p>
                <p class="title mb-3">Engine 1493CC</p>
                <p class="title mb-3">Fuel type: Petrol and Diesel</p>
                <p class="title mb-3">Transmission: Automatic</p>
                <p class="title mb-3">Seating Capacity: 5 Seater </p>
                <p class="title mb-3">Torque: 171.62Nm 1500-4000rpm </p>
                <p class="title mb-3">Power: 118.36bhp 6000rpm</p>
                <p class="title mb-3">Fuel Tank Capacity: 37.0</p>
                
                </div>
               
                    <div style="float:right;">
                <h3>Safety and Security</h3>
                <p class="title mb-3">Airbags</p>
                <p class="title mb-3">Anti Lock Braking System</p>
                <p class="title mb-3">Child Safety Lock</p>
                <p class="title mb-3">Engine Immobilizer</p>
                <p class="title mb-3">Central Locking-Remote</p>
                <p class="title mb-3">Power door lock </p>
                <p class="title mb-3">HeadLamp beam adjuster</p>
              
                </div>
                </div>
<div> <a href="#" class="btn btn-primary">Payment</a></div>
           
    
    
  
   

