<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="about-section">
  <h1>About Us</h1>
  <p>Welocome to CarShop</p>
  <p>Our goal is to completely transform the way used cars are purchased and sold globally.CarShop offers a large selection of certified automobiles that can be delivered to homes with just a click of a button and helping sellers receive the greatest price for their vehicles, we give car purchasers the best experience. We strive for advancement and perfection. We put the needs of the consumer first in order to earn their trust. We are available to all customers and stakeholders, whether they need evaluation, customer protection policies, warranties, or just customer support</p>
</div>

<h2 style="text-align:center">Shop your Car</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://cdn3.iconfinder.com/data/icons/e-commerce-2-1/256/14-512.png" alt="quality" style="width:50%">
      <div class="container">
        <h2>Quality</h2>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.t6tFS9WtP8nRwXWfbQfIDQHaHa?pid=ImgDet&rs=1" alt="transperancy" style="width:50%">
      <div class="container">
        <h2>Transparency & Accountability</h2>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.zQb9cQfVe_aTzQrwxvXcQAHaHa?pid=ImgDet&rs=1" alt="experience" style="width:50%">
      <div class="container">
        <h2>Personalized Experience</h2>
      </div>
    </div>
  </div>



</div></body></html>