<div class="payment-container">
    <div class="payment-header">
      Payment
    </div>
    <div>
      <form>
        <div class="form-group">
          <label for="credit-card">Credit Card</label>
          <input type="radio" id="credit-card" name="payment-option" value="credit-card" >
        </div>
        <div class="form-group">
          <label for="debit-card">Debit Card</label>
          <input type="radio" id="debit-card" name="payment-option" value="debit-card">
        </div>
        <div class="form-group">
          <label for="wallet">Wallet</label>
          <input type="radio" id="wallet" name="payment-option" value="wallet">
        </div>
        <div class="form-group">
          <!--button type="submit">Pay</button-->
          <a href="submit"><button type="button" class="btn btn-primary">pay</button></a>
        </div>
      </form>
    </div>
  </div>

